@page "/countriesPage"
@rendermode InteractiveServer
@using Lab
@using View
@inherits EntityBlazorPage<Country> 
<h3>CountriesPage</h3>


<EntityTableTemplate TEntity="Country" TView="EntityView<Country>" Entities="m_displayedEntityList" View="View">
	<EntityEditForm>
		<EditForm Model="@m_countryData" OnSubmit="CreateEntity">
			<p>
				Name:<br/>
				<InputText @bind-Value="m_countryData.Name"/>
			</p>
			<p>
				<button type="submit">Create Country</button>
			</p>
		</EditForm>
	</EntityEditForm>
	<PageButtons>
		<button class="btn btn-primary" disabled="@m_isDecreasePageDisabled" @onclick="DecreasePage">Prev Page</button>
		<button class="btn btn-primary" disabled="@m_isIncreasePageDisabled" @onclick="IncreasePage">Next Page</button>
	</PageButtons>
	<EntityHeaderEntry>
		<th>Id</th>
		<th>Name</th>
		<th>Delete</th>
	</EntityHeaderEntry>
	<EntityTableEntry>
		<td>@context.CountryId</td>
		<td>@context.CountryName</td>
	</EntityTableEntry>
	<EntityDeleteButton>
		<td>
			<button class="btn btn-primary" @onclick="() => DeleteEntityAsync(context.CountryId)">Delete</button>
		</td>
	</EntityDeleteButton>
</EntityTableTemplate>