@page "/philosophersPage"
@rendermode InteractiveServer
@using Lab
@using View

@inherits EntityBlazorPage<Philosopher>
<h3>PhilosophersPage</h3>

<EntityTableTemplate TEntity="Philosopher" TView="EntityView<Philosopher>" Entities="m_displayedEntityList" View="View">
	<EntityEditForm>
		<EditForm Model="@m_philosopherData" OnSubmit="CreateEntity">
			<p>
				Name:<br/>
				<InputText @bind-Value="m_philosopherData.Name"/>
			</p>
			<p>
				Dob:<br/>
				<InputDate @bind-Value="m_philosopherData.Dob"/>
			</p>
			<p>
				Dod:<br/>
				<InputDate @bind-Value="m_philosopherData.Dod"/>
			</p>

			<ReferencedEntityTemplate TEntity="Philosophy" ReferencedEntity="m_referencedPhilosophy">
				<EntityOption Context="optionContext">
					<option value="@optionContext.PhilosophyId">@optionContext.PhilosophyName</option>
				</EntityOption>
				<ReferencedEntityEditForm>
					Start date: <InputDate @bind-Value="m_referencedPhilosophyData.StartDate"/>
					Finish date: <InputDate @bind-Value="m_referencedPhilosophyData.FinishDate"/>
				</ReferencedEntityEditForm>
			</ReferencedEntityTemplate>

			<ReferencedEntityTemplate TEntity="Country" ReferencedEntity="m_referencedCountry">
				<EntityOption Context="optionContext">
					<option value="@optionContext.CountryId">@optionContext.CountryName</option>
				</EntityOption>
				<ReferencedEntityEditForm>
					Start date: <InputDate @bind-Value="m_referencedCountryData.StartDate"/>
					Finish date: <InputDate @bind-Value="m_referencedCountryData.FinishDate"/>
				</ReferencedEntityEditForm>
			</ReferencedEntityTemplate>

			<p>
				<button type="submit">Create Philosopher</button>
			</p>
		</EditForm>
		<p>
			Filter:
			<ReferencedEntityTemplate TEntity="Country" ReferencedEntity="m_referencedCountryFilter">
				<EntityOption Context="optionContext">
					<option value="@optionContext.CountryId">@optionContext.CountryName</option>
				</EntityOption>
			</ReferencedEntityTemplate>
			<button class="btn btn-primary" @onclick="ApplyCountryFilter">Apply</button>
		</p>

	</EntityEditForm>
	<PageButtons>
		<button class="btn btn-primary" disabled="@m_isDecreasePageDisabled" @onclick="DecreasePage">Prev Page</button>
		<button class="btn btn-primary" disabled="@m_isIncreasePageDisabled" @onclick="IncreasePage">Next Page</button>
	</PageButtons>
	<EntityHeaderEntry>
		<th>Id</th>
		<th>Name</th>
		<th>Dob</th>
		<th>Dod</th>
		<th>Delete</th>
	</EntityHeaderEntry>
	<EntityTableEntry>
		<td>@context.PhilosopherId</td>
		<td>@context.PhilosopherName</td>
		<td>@context.PhilosopherDob</td>
		<td>@context.PhilosopherDod</td>
	</EntityTableEntry>
	<EntityDeleteButton>
		<td>
			<button class="btn btn-primary" @onclick="() => DeleteEntityAsync(context.PhilosopherId)">Delete</button>
		</td>
	</EntityDeleteButton>

</EntityTableTemplate>

