@page "/philosophiesPage"
@rendermode InteractiveServer
@using Lab
@using View

@inherits EntityBlazorPage<Philosophy>
<h3>PhilosophiesPage</h3>

<EntityTableTemplate TEntity="Philosophy" TView="EntityView<Philosophy>" Entities="m_displayedEntityList" View="View">
	<EntityEditForm>
		<EditForm Model="@m_philosophyData" OnSubmit="CreateEntity">
			<p>
				Name:<br/>
				<InputText @bind-Value="m_philosophyData.Name"/>
			</p>

			<p>
				<button type="submit">Create Philosophy</button>
			</p>
		</EditForm>
	</EntityEditForm>
	<PageButtons>
		<button class="btn btn-primary" disabled="@m_isDecreasePageDisabled" @onclick="DecreasePage">Prev Page</button>
		<button class="btn btn-primary" disabled="@m_isIncreasePageDisabled" @onclick="IncreasePage">Next Page</button>
	</PageButtons>
	<EntityHeaderEntry>
		<th>Id</th>
		<th>Name</th>
		<th>Delete</th>
	</EntityHeaderEntry>
	<EntityTableEntry>
		<td>@context.PhilosophyId</td>
		<td>@context.PhilosophyName</td>
	</EntityTableEntry>
	<EntityDeleteButton>
		<td>
			<button class="btn btn-primary" @onclick="() => DeleteEntityAsync(context.PhilosophyId)">Delete</button>
		</td>
	</EntityDeleteButton>
</EntityTableTemplate>

@code
{
	PhilosophyData m_philosophyData = new();

	protected override async Task CreateEntity()
	{
		await View.CreateEntityAsync(new Philosophy()
		{
			PhilosophyName = m_philosophyData.Name,
		});
		await FetchData();
	}

	private class PhilosophyData
	{
		public string Name = "";
	}

}