@page "/philosophersPage"
@rendermode InteractiveServer
@using Lab
@using View

@inherits EntityBlazorPage<Philosopher>
<h3>PhilosophersPage</h3>

<EntityTableTemplate TEntity="Philosopher" TView="EntityView<Philosopher>" Entities="m_displayedEntityList" View="View">
	<EntityEditForm>
		<EditForm Model="@m_philosopherData" OnSubmit="CreateEntity">
			<p>
				Name:<br/>
				<InputText @bind-Value="m_philosopherData.Name"/>
			</p>
			<p>
				Dob:<br/>
				<InputDate @bind-Value="m_philosopherData.Dob"/>
			</p>
			<p>
				Dod:<br/>
				<InputDate @bind-Value="m_philosopherData.Dod"/>
			</p>
			<p>
				<button type="submit">Create Philosopher</button>
			</p>
		</EditForm>
	</EntityEditForm>
	<PageButtons>
		<button class="btn btn-primary" disabled="@m_isDecreasePageDisabled" @onclick="DecreasePage">Prev Page</button>
		<button class="btn btn-primary" disabled="@m_isIncreasePageDisabled" @onclick="IncreasePage">Next Page</button>
	</PageButtons>
	<EntityHeaderEntry>
		<th>Id</th>
		<th>Name</th>
		<th>Dob</th>
		<th>Dod</th>
		<th>Delete</th>
	</EntityHeaderEntry>
	<EntityTableEntry>
		<td>@context.PhilosopherId</td>
		<td>@context.PhilosopherName</td>
		<td>@context.PhilosopherDob</td>
		<td>@context.PhilosopherDod</td>
	</EntityTableEntry>
	<EntityDeleteButton>
		<td>
			<button class="btn btn-primary" @onclick="() => DeleteEntityAsync(context.PhilosopherId)">Delete</button>
		</td>
	</EntityDeleteButton>


</EntityTableTemplate>


@code
{
	PhilosopherData m_philosopherData = new();

	private class PhilosopherData
	{
		public string Name = "";
		public DateOnly Dob;
		public DateOnly Dod;
	}

	protected override async Task CreateEntity()
	{
		await View.CreateEntityAsync(new Philosopher()
		{
			PhilosopherName = m_philosopherData.Name,
			PhilosopherDob = m_philosopherData.Dob, PhilosopherDod = m_philosopherData.Dod
		});
		await FetchData();
	}


}