@page "/PPCsPage"
@rendermode InteractiveServer
@using Lab
@using View
@inherits EntityBlazorPage<PhilosopherPhilosophyConnection>
<h3>PPCsPage</h3>

<EntityTableTemplate TEntity="PhilosopherPhilosophyConnection" TView="EntityView<PhilosopherPhilosophyConnection>" Entities="m_displayedEntityList" View="View">
	<EntityEditForm>
		<p>@m_message</p>
		<EditForm Model="@m_pscData" OnSubmit="ValidateEntity">
			<p>
				Philosopher Id:<br/>
				<InputNumber @bind-Value="m_pscData.PhilosopherId"/>
			</p>
			<p>
				Philosophy Id:<br/>
				<InputNumber @bind-Value="m_pscData.PhilosophyId"/>
			</p>
			<p>
				Start Date:<br/>
				<InputDate @bind-Value="m_pscData.StartDate"/>
			</p>
			<p>
				Finish Date:<br/>
				<InputDate @bind-Value="m_pscData.FinishDate"/>
			</p>
			<p>
				<button type="submit">Create PCC</button>
			</p>
		</EditForm>
	</EntityEditForm>
	<PageButtons>
		<button class="btn btn-primary" disabled="@m_isDecreasePageDisabled" @onclick="DecreasePage">Prev Page</button>
		<button class="btn btn-primary" disabled="@m_isIncreasePageDisabled" @onclick="IncreasePage">Next Page</button>
	</PageButtons>
	<EntityHeaderEntry>
		<th>Id</th>
		<th>Philosopher Id</th>
		<th>Country Id</th>
		<th>Start date</th>
		<th>Finish date</th>
	</EntityHeaderEntry>
	<EntityTableEntry>
		<td>@context.PhilosopherPhilosophyConnectionId</td>
		<td>@context.Philosopher.PhilosopherId</td>
		<td>@context.Philosophy.PhilosophyId</td>
		<td>@context.PeriodStart</td>
		<td>@context.PeriodEnd</td>
	</EntityTableEntry>
	<EntityDeleteButton>
		<td>
			<button class="btn btn-primary" @onclick="() => DeleteEntityAsync(context.PhilosopherPhilosophyConnectionId)">Delete</button>
		</td>
	</EntityDeleteButton>
</EntityTableTemplate>

@code
{
	PCCData m_pscData = new();
	private string m_message = "";

	private async void ValidateEntity()
	{
		m_message = "";
		View.UpdateReferencedEntities(m_pscData.PhilosopherId, typeof(Philosopher));
		View.UpdateReferencedEntities(m_pscData.PhilosophyId, typeof(Philosophy));
		Philosopher? philosopher = (Philosopher?)View.ReferencedEntities[typeof(Philosopher)];
		Philosophy? philosophy = (Philosophy?)View.ReferencedEntities[typeof(Philosophy)];
		if (philosopher == null)
		{
			m_message = "Invalid philosopher id!";
		}
		else if (philosophy == null)
		{
			m_message += " Invalid philosophy id!";
		}
		else
		{
			await CreateEntity();
		}
	}

	protected override async Task CreateEntity()
	{
		await View.CreateEntityAsync(new PhilosopherPhilosophyConnection()
		{
			Philosopher = (Philosopher)View.ReferencedEntities[typeof(Philosopher)],
			Philosophy = (Philosophy)View.ReferencedEntities[typeof(Philosophy)],
			PeriodStart = m_pscData.StartDate,
			PeriodEnd = m_pscData.FinishDate
		});
		await FetchData();
	}

	private class PCCData
	{
		public int PhilosopherId;
		public int PhilosophyId;
		public DateOnly StartDate;
		public DateOnly FinishDate;
	}

}