@page "/PsCsPage"
@rendermode InteractiveServer
@using Model
@using View
@using Authentication
@inherits EntityBlazorPage<PhilosopherStudentConnection>
@inject UserAuthenticationStateProvider UserAuthenticationStateProvider
<UserInfoTemplate UserInfo="UserAuthenticationStateProvider.CurrentUser"></UserInfoTemplate>
<h3>PSCsPage</h3>

<EntityTableTemplate TEntity="PhilosopherStudentConnection" TView="EntityView<PhilosopherStudentConnection>" Entities="m_displayedEntityList" View="base.View">
	<EntityEditForm>
		<p>@m_message</p>
		<EditForm Model="@m_pscData" OnSubmit="ValidateEntity">
			<p>
				Teacher Id:<br/>
				<InputNumber @bind-Value="m_pscData.TeacherId"/>
			</p>
			<p>
				Student Id:<br/>
				<InputNumber @bind-Value="m_pscData.StudentId"/>
			</p>
			<p>
				Start Date:<br/>
				<InputDate @bind-Value="m_pscData.StartDate"/>
			</p>
			<p>
				Finish Date:<br/>
				<InputDate @bind-Value="m_pscData.FinishDate"/>
			</p>


			<p>
				<button type="submit">Create PCC</button>
			</p>
		</EditForm>
	</EntityEditForm>
	<PageButtons>
		<button class="btn btn-primary" disabled="@m_isDecreasePageDisabled" @onclick="DecreasePage">Prev Page</button>
		<button class="btn btn-primary" disabled="@m_isIncreasePageDisabled" @onclick="IncreasePage">Next Page</button>
	</PageButtons>
	<EntityHeaderEntry>
		<th>Id</th>
		<th>Teacher Id</th>
		<th>Student Id</th>
		<th>Start date</th>
		<th>Finish date</th>
	</EntityHeaderEntry>
	<EntityTableEntry>
		<td>@context.PhilosopherStudentConnectionId</td>
		<td>@context.Teacher.PhilosopherId</td>
		<td>@context.Student.PhilosopherId</td>
		<td>@context.PeriodStart</td>
		<td>@context.PeriodEnd</td>
	</EntityTableEntry>
	<EntityDeleteButton>
		<td>
			<button class="btn btn-primary" @onclick="() => DeleteEntityAsync(context.PhilosopherStudentConnectionId)">Delete</button>
		</td>
	</EntityDeleteButton>
</EntityTableTemplate>