@page "/worksPage"
@rendermode InteractiveServer
@using Model
@using View
@using Authentication
@inherits EntityBlazorPage<Work>
@inject UserAuthenticationStateProvider UserAuthenticationStateProvider
<UserInfoTemplate UserInfo="UserAuthenticationStateProvider.CurrentUser"></UserInfoTemplate>
<h3>WorksPage</h3>

<EntityTableTemplate TEntity="Work" TView="EntityView<Work>" Entities="m_displayedEntityList" View="View">
	<EntityEditForm>
		<p>@m_message</p>
		<EditForm Model="@m_workData" OnSubmit="ValidateEntity">
			<p>
				Name:<br/>
				<InputText @bind-Value="m_workData.Name"/>
			</p>
			<p>
				Publishing Date:<br/>
				<InputDate @bind-Value="m_workData.PublishingDate"/>
			</p>
			<p>
				Philosopher Id:<br/>
				<InputNumber @bind-Value="m_workData.PhilosopherId"/>
			</p>

			<p>
				<button type="submit">Create Work</button>
			</p>
		</EditForm>
	</EntityEditForm>
	<PageButtons>
		<button class="btn btn-primary" disabled="@m_isDecreasePageDisabled" @onclick="DecreasePage">Prev Page</button>
		<button class="btn btn-primary" disabled="@m_isIncreasePageDisabled" @onclick="IncreasePage">Next Page</button>
	</PageButtons>
	<EntityHeaderEntry>
		<th>Id</th>
		<th>Name</th>
		<th>Publishing Date</th>
		<th>Philosopher Id</th>
	</EntityHeaderEntry>
	<EntityTableEntry>
		<td>@context.WorkId</td>
		<td>@context.WorkName</td>
		<td>@context.PublishingDate</td>
		<td>@context.Philosopher.PhilosopherId</td>
	</EntityTableEntry>
	<EntityDeleteButton>
		<td>
			<button class="btn btn-primary" @onclick="() => DeleteEntityAsync(context.WorkId)">Delete</button>
		</td>
	</EntityDeleteButton>
</EntityTableTemplate>